<% if issue.safe_attribute? 'open_date' %>
  <p id="open_date_area">
    <%= form.text_field(:open_date, :size => 10, :required => issue.required_attribute?('open_date')) %>
    <%= calendar_for('issue_open_date') if issue.leaf? %>
  </p>
<% end %>
