<% if User.current.allowed_to?(:edit_issues, @project) &&
      Setting.plugin_redmine_issue_open_date['freezed_statuses'].include?(issue.status_id.to_s) %>

  <p id="open_date_area">
    <%= form.label :open_date %>
    <%= form.datetime_select :open_date, include_blank: true, default: nil, minute_step: 5 %>
  </p>

<% end %>
